body{
    background-color: #999;
}

div{
    background-color: #eee;
    border-radius: 7px;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.5);
    margin-top: 10px;
}

div#hora{
    background-color: rgb(128, 240, 255);
    border-radius: 20px;
    width: 150px;
}

#data{
    text-align: center;
    padding: 5px;
    font-size: 30px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(138, 255, 60);
    border-radius: 10px;
    border: 1px solid black;
    
}

