body{
    background-color: rgb(77, 77, 77);
}

header{
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    padding: 15px;
}

h1{
    color: rgb(255, 208, 0);
    font-family:Cambria, sans-serif;
    font-size: 36px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab{
    background-color: white;
    display: inline-block;
    width:  78px;
    height: 78px;
    margin: 0px;
    border: 1px solid rgb(36, 36, 36);
    text-align: center;
    
}


.tab:hover{
    background-color: green;
}

.tab:active{
    background-color: red;
}

#tabuleiro{
    
    border: 10px solid transparent;    
    width: 242px;
    padding: 30px;
    background-color:rgb(36, 36, 36);
    margin: auto;
}

p{
    text-align: center;
    font-size: 26px;
    padding: 20px;
    margin: auto;
    font-family: cambria, sans-serif;
    width: 242px;
    border: 5px solid rgb(77, 77, 77);
    background-color:rgb(255, 208, 0);
}

